<div class="bill">
    <span class="font-weight-total">Total amount : {{billAmount | currency}}</span>
</div>
<div class="cart-container" *ngIf="cartList.length > 0 else elsePartCartEmpty">
    <ng-container *ngFor="let cartProduct of cartList; index as i;">
        <mat-card class="cart-card">
            <mat-card-title-group>
                <mat-card-title class="description" [matTooltip]="cartProduct.title" matTooltipPosition="below">
                    {{cartProduct.title}}</mat-card-title>
                <mat-card-subtitle>{{cartProduct.price | currency}}</mat-card-subtitle>
                <mat-card-subtitle class="description" [matTooltip]="cartProduct.description"
                    matTooltipPosition="below">{{cartProduct.description}}</mat-card-subtitle>
                <img mat-card-sm-image [src]="cartProduct.image">
            </mat-card-title-group>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <div class="display-action">
                    <button mat-icon-button [color]="'accent'" (click)="updateCartData(i, cartProduct, true)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <div>
                        <span>{{cartProduct.cartDuplicateCount}}</span>
                    </div>
                    <button mat-icon-button [color]="'accent'" (click)="updateCartData(i, cartProduct, false)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-icon-button [color]="'accent'" (click)="deleteItem(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>

<ng-template #elsePartCartEmpty>
    <p class="empty-cart">Your cart is empty!!</p>
</ng-template>